.container {
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
}

.mainTitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 24px;
}

.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  margin-bottom: 96px;
}

@media (width <= 768px) {
  .categories {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width <= 480px) {
  .categories {
    grid-template-columns: 1fr;
  }
}