.container {
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
}

.productMainTitle {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 24px;
}

.productInfo {
  display: flex;
  gap: 32px;
  padding: 32px;
  border: 1px solid rgb(242 244 247 / 100%);
  background-color: #FFF;
  border-radius: 12px;
  margin-bottom: 96px;
}

.productImage {
  max-width: 632px;

  img {
    width: 100%;
  }
}