.container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

.wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #EAECF0;
  border-radius: 12px;
  transition: all 0.2s ease;
  padding-left: 14px;

  &:focus-within, &:hover {
    border-color: #FAD12E;
  }
}

.wrapperWithPadding {
  padding: 0 14px;
}

.input {
  flex: 1;
  line-height: 1;
}

.label {
  margin-left: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
}

.helperText {
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  margin-left: 16px;
  color: #667085;
}

.textareaWrapper {
  position: relative;
  width: 100%;
}

.select {
  color: #667085;

  &.active {
    color: #101828;
  }
}

.textarea {
  resize: vertical;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 77px;
}

.inputWithPadding {
  padding: 18px 0;
}

.inputWithPaddingMd {
  padding: 14px 0;
}

.img {
  margin-right: 12px;
}

.error {
  border-color: #F04438;
}

.disabled {
  background-color: #F9FAFB;
  color: #D0D5DD;
  cursor: not-allowed;
}

.helperError {
  color: #F04438;
}

.buttonRight {
  margin: 4px 4px 4px 0;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 30px white inset;

  &:hover, &:focus {
    box-shadow: 0 0 0 30px white inset;
  }
}