.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s ease;
  line-height: 1;
  min-width: fit-content;
}

.yellow {
  background-color: #FAD12E;

  &:hover {
    background-color: #F8C90E;
  }
}

.gray {
  background-color: #F2F4F7;

  &:hover {
    background-color: #E4E7EB;
  }
}

.dark {
  background-color: #101828;

  .text {
    color: #FFF;
  }

  &:hover {
    background-color: #1F2735;
  }
}

.ghost {
  background-color: transparent;

  &:hover {
    background-color: #F7F0F0;
  }
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.sm {
  padding: 0 8px;
  gap: 8px;
  font-size: 14px;
  font-weight: 400;

  .text {
    padding: 9px 0;
  }
}

.md {
  padding: 0 12px;

  .text {
    padding: 14px 0;
  }
}

.lg {
  padding: 0 14px;

  .text {
    padding: 18px 0;
  }
}

.iconRight {
  margin-left: 12px;
}

.iconLeft {
  margin-right: 12px;
}