.sidebar {
  position: relative;
  max-width: 316px;
  height: 768px;
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #F2F4F7;
  border-radius: 12px;
  overflow: hidden;
}

.filtersContent {
  overflow: hidden auto;
  padding: 24px 24px 20px;
  scrollbar-width: none;
}

.stickyButton {
  position: sticky;
  bottom: 12px;
  left: 12px;
  width: calc(100% - 24px);
}

.filterSection:not(:last-of-type) {
  padding: 0 24px 24px;
  margin: 0 -24px 24px;
  border-bottom: 1px solid #F2F4F7;
}

.sectionTitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 12px;
}

.priceRange {
  display: flex;
  gap: 8px;
  align-items: center;

  div div input {
    max-width: 73px;
    max-height: 44px;
  }
}

.optionLabel {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  cursor: pointer;
  user-select: none;
  position: relative;
}

.optionCheckbox {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
  cursor: pointer;
}

.customCheckbox {
  width: 20px;
  height: 20px;
  border: 2px solid #F2F4F7;
  border-radius: 4px;
  transition: all 0.2s ease;
  flex-shrink: 0;
  margin-right: 8px;
  position: relative;
}

.optionCheckbox:checked + .customCheckbox {
  background-color: #FAD12E;
  border-color: #FAD12E;

  &::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 1px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    border-radius: 2px;
    transform: rotate(45deg);
  }
}

.optionLabel:hover .customCheckbox {
  border-color: #FAD12E;
}

.optionCount {
  position: absolute;
  right: 70px;
  color: #D0D5DD;
}
