.controls {
  display: flex;
  justify-content: space-between;
}

.pagination {
  display: flex;
  gap: 10px;

  button {
    transition: all 0.2s ease;
    border: 1px solid #FFF;
    border-radius: 10px;
    padding: 12px 16px;
    cursor: pointer;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      border-color: rgb(250 209 46 / 100%);
    }

    &:disabled {
      border: none;
      opacity: 0.5;
      cursor: default;
    }
  }
}

.activePage {
  background-color: rgb(250 209 46 / 100%);
}

.viewToggle {
  display: flex;
  align-items: center;
  gap: 12px;
}

.viewToggleSelect {
  width: 80px;
  height: 52px;
}

.viewToggle div {
  white-space: nowrap;
  color: rgb(102 112 133 / 100%);
  width: 120px;
}

.dots {
  display: flex;
  align-items: center;
}
