.cartItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cartItemTitleBlock {
  display: flex;
  align-items: center;
}

.cartItemImage {
  &.popup {
    max-width: 80px;
    max-height: 80px;
    margin-right: 12px;
  }

  &.cartPage {
    max-width: 96px;
    max-height: 96px;
    margin-right: 24px;
  }
}

.cartItemTitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;

  &.popup {
    max-width: 300px;
    margin-right: 48px;
  }

  &.cartPage {
    width: 407px;
  }
}

.cartItemArticle {
  margin-top: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #667085;
}

.cartItemPriceBlock {
  display: flex;
  align-items: center;
}

.cartItemPrice {
  font-size: 18px;
  font-weight: 600;

  &.cartPage {
    margin-right: 16px;
  }

  &.popup {
    margin-right: 4px;
  }
}