.mainTitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 32px;
}

.popularCategories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  margin-bottom: 96px;
}

@media (max-width: 768px) {
  .popularCategories {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .popularCategories {
    grid-template-columns: 1fr;
  }
}