.container {
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
}

.cartHeader {
  display: flex;
  justify-content: space-between;
}

.cartTitle {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 12px;
  line-height: 1.2;
}

.cartListWrapper {
  display: flex;
  gap: 32px;
}