.button {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #FAD12E;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: 0.1s ease;
  min-width: 128px;
}

.button:hover {
  background-color: #FFCC00;
}

.text {
  padding: 17px 0 17px 14px;
}