.mainSlide, .slide {
  min-width: 100%;
  position: relative;
  z-index: 1000;
  overflow: hidden;
  border-radius: 12px;
}

.slideInner {
  position: relative;
  z-index: 1;
}

.slideBackground {
  position: absolute;
  z-index: 0;
}

.bottomRight {
  bottom: 0;
  right: 0;
}

.mainSlide {
  padding: 24px 0 24px 24px;
}

.slide {
  padding: 48px 0 48px 48px;
}

.mainSlideTitle {
  max-width: 400px;
  margin-bottom: 108px;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.1;
}

.slideTitle {
  text-transform: uppercase;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.1;
}

.slideDescription {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  max-width: 430px;
  margin-bottom: 57px;
}

.slideLocation {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 2px;
  line-height: 1;
}

.slideAddress {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 2px;
  line-height: 1.5;
}

.slideButton {
  display: inline-block;
  padding: 18px 14px;
  background-color: #101828;
  color: #FFF;
  cursor: pointer;
  border-radius: 12px;
  line-height: 1;
  transition: 0.2s ease;

  &:hover {
    opacity: 0.9;
  }
}